# Базовые операции с Apache Impala

## Удаление базы данных

In [ ]:
impala-shell -i "${IMPALA_HOST}" -q "
DROP DATABASE IF EXISTS my_db
CASCADE
"

## Создание базы данных

In [ ]:
impala-shell -i "${IMPALA_HOST}" -q "
CREATE DATABASE my_db
"

## Создание таблицы

In [ ]:
impala-shell -i "${IMPALA_HOST}" -q "
CREATE TABLE my_db.my_table (id INT, name STRING)
"

## Получение информации о таблице

### Получение информации из `Impala Shell`

In [ ]:
impala-shell -i "${IMPALA_HOST}" -q "
DESCRIBE my_db.my_table
"

### Получение информации из `Hive Metastore`

In [ ]:
HOST=hive \
new_file /tmp/query.sql <<EOF
DESCRIBE my_db.my_table
EOF

beeline -u "jdbc:hive2://${HIVE_HOST}:10000/" -f /tmp/query.sql

## Добавление данных в таблицу

In [ ]:
impala-shell -i "${IMPALA_HOST}" -q "
INSERT INTO my_db.my_table (id, name) VALUES(1, 'Hello, World')
"

## Получение данных из таблицы

### Получение данных через `Impala Shell`

In [ ]:
impala-shell -i "${IMPALA_HOST}" -q "
SELECT * FROM my_db.my_table
"

### Получение данных из `Hive Metastore`

In [ ]:
HOST=hive \
new_file /tmp/query.sql <<EOF
SELECT *
  FROM my_db.my_table
EOF

beeline -u "jdbc:hive2://${HIVE_HOST:-hive}:10000/" -f /tmp/query.sql

## Удаление таблицы

In [ ]:
impala-shell -i "${IMPALA_HOST}" -q "
DROP TABLE my_db.my_table
"

## Удаление базы данных

In [ ]:
impala-shell -i "${IMPALA_HOST}" -q "
DROP DATABASE my_db
"